@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Radio+Canada:wght@500;600&family=Roboto:wght@300&display=swap');
*{
   padding:0px;
   margin:0px;
  box-sizing: border-box;
scroll-behavior: none;

font-family: 'Radio Canada', sans-serif;

}
a{
  text-decoration: none;
}
.banner{
  height:200p;
  background-image: url('./bg.jpg');
}
